body{
    min-height: 100vh;
    background-color:aliceblue;
    margin: 0;
    padding:0;
   } 
  
  .header {
    background-color:antiquewhite;
    padding: 5px 30px;
    font-size: 16px;
  
  }
  